table {
    width: 100%;
}

td, th {
    border: solid 1px
}

th {
    background-color: rgb(231, 195, 255);
}

tr:nth-child(odd) {
    background: rgb(0, 0, 0);
}

.total {
    text-align: right;
    padding: 5px;
}

.tablerow {
    background-color: white;
    border: none
}